<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.0" targetFramework="net462" />
  <package id="EnvDTE" version="8.0.1" targetFramework="net462" />
  <package id="EnvDTE80" version="8.0.1" targetFramework="net462" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net462" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26606" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26606" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.9" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26606" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26606" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26606" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading" version="15.3.23" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26606" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net462" />
  <package id="Moq" version="4.7.63" targetFramework="net462" />
  <package id="stdole" version="7.0.3301" targetFramework="net462" />
  <package id="xunit" version="2.2.0" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net462" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net462" />
  <package id="xunit.core" version="2.2.0" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.3.0-beta3-build3705" targetFramework="net462" developmentDependency="true" />
</packages>